/* ####### FONT STACKS - AKRITI & SAMSUNG SANS FONTS ######## */
@font-face {
  font-family: "Samsung Sharp Sans";
  src: url("./fonts/SamsungSharpSans.eot");
  src: local("Samsung Sharp Sans"), local("SamsungSharpSans"),
    url("./fonts/SamsungSharpSans.eot?#iefix") format("embedded-opentype"),
    url("./fonts/SamsungSharpSans.woff2") format("woff2"),
    url("./fonts/SamsungSharpSans.woff") format("woff"),
    url("./fonts/SamsungSharpSans.ttf") format("truetype"),
    url("./fonts/SamsungSharpSans.svg#SamsungSharpSans") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aakriti";
  src: url("./fonts/AakritiBold.eot");
  src: local("Aakriti Bold"), local("AakritiBold"),
    url("./fonts/AakritiBold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/AakritiBold.woff2") format("woff2"),
    url("./fonts/AakritiBold.woff") format("woff"),
    url("./fonts/AakritiBold.ttf") format("truetype"),
    url("./fonts/AakritiBold.svg#AakritiBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Samsung Sharp Sans";
  src: url("./fonts/SamsungSharpSans-Medium.eot");
  src: local("Samsung Sharp Sans Medium"), local("SamsungSharpSans-Medium"),
    url("./fonts/SamsungSharpSans-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/SamsungSharpSans-Medium.woff2") format("woff2"),
    url("./fonts/SamsungSharpSans-Medium.woff") format("woff"),
    url("./fonts/SamsungSharpSans-Medium.ttf") format("truetype"),
    url("./fonts/SamsungSharpSans-Medium.svg#SamsungSharpSans-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aakriti";
  src: url("./fonts/Aakriti.eot");
  src: local("Aakriti"),
    url("./fonts/Aakriti.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Aakriti.woff2") format("woff2"),
    url("./fonts/Aakriti.woff") format("woff"),
    url("./fonts/Aakriti.ttf") format("truetype"),
    url("./fonts/Aakriti.svg#Aakriti") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Samsung Sharp Sans";
  src: url("./fonts/SamsungSharpSans-Bold.eot");
  src: local("Samsung Sharp Sans Bold"), local("SamsungSharpSans-Bold"),
    url("./fonts/SamsungSharpSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/SamsungSharpSans-Bold.woff2") format("woff2"),
    url("./fonts/SamsungSharpSans-Bold.woff") format("woff"),
    url("./fonts/SamsungSharpSans-Bold.ttf") format("truetype"),
    url("./fonts/SamsungSharpSans-Bold.svg#SamsungSharpSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* ##### ROOT VARIABLES ##### */
:root {
  --default-black: #000;
  --default-white: #fff;
  --font-family-akriti: "Aakriti";
  --font-family-samsung: "Samsung Sharp Sans";
  --transition: all 300ms ease-in-out;
}

* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}
a {
  color: var(--default-black);
  text-decoration: none;
}

/* UTILS CLASSES */
.font-akriti {
  font-family: "Aakriti";
}
.font-samsung {
  font-family: "Samsung Sharp Sans";
}

body {
  min-height: 100vh;
  font-family: var(--font-family-samsung);
  line-height: 1.6;
}

/* TEXT UITLS */
.text-lg {
  font-size: 48px;
}
.text-xl {
  font-size: 60px;
}
.text-2xl {
  font-size: 66px;
}
.text-3xl {
  font-size: 70px;
}

/* FONT WEIGHTS */
.font-thin {
  font-weight: 100;
}
.font-extralight {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}
.font-black {
  font-weight: 900;
}

/* COMMON STYLINGS */
.navbar-brand {
  max-width: 306px;
  min-width: 306px;
  position: absolute;
  top: 40px;
  left: 40px;
}
.navbar-brand img {
  width: 100%;
}

/* FLEX UTILS */
.d-flex {
  display: flex;
}
.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-baseline {
  align-items: baseline;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

/* MARGIN & PADDING UTILS */
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.mt-3 {
  margin-top: 12px !important;
}

/* LINE HEIGHTS */
.leading-0 {
  line-height: 0;
}
.leading-1 {
  line-height: 1;
}

/* TRACKING */
.tracking-1 {
  letter-spacing: 1px;
}

/* ROW & COLUMN GAP */
.gap-x-5 {
  column-gap: 20px;
}
.gap-x-4 {
  column-gap: 16px;
}
.gap-x-3 {
  column-gap: 12px;
}
.gap-y-5 {
  row-gap: 20px;
}
.gap-5 {
  gap: 20px;
}

/* BUTTONS */
button {
  border: 0;
  background: transparent;
  outline: 0;
}
.page-btn {
  background: var(--default-black);
  color: var(--default-white);
  height: 48px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  padding-right: 24px;
  padding-left: 24px;
  white-space: nowrap;
  transition: var(--transition);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.page-btn:hover {
  transform: translateY(-2px);
}

/* PAGE ONE */
.page-wrapper {
  min-height: calc(100vh - 80px);
  padding: 40px;
  position: relative;
}
.page-wrapper-1 {
  background: url("../images/start_bg.png") top/cover no-repeat;
}
.page-wrapper-2 {
  background: url("../images/winner_bg.png") top/cover no-repeat;
}
.page-wrapper-3 {
  background: url("../images/backup_bg.png") top/cover no-repeat;
}
.page-content {
  max-width: 1580px;
  margin-right: auto;
  margin-left: auto;
}
.page-content-top {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.page-lead-container {
  padding-left: 45px;
  padding-right: 45px;
  text-align: center;
  margin-top: -12px;
  flex: 1;
}
.page-btn-wrapper .page-upload-btn {
  margin-right: 25px;
  flex-basis: 306px;
}
.page-btn-wrapper .page-reset-btn {
  margin-left: 60px;
}
.page-lead-content {
  max-width: 660px;
}

/* TEXT RELATED STYLINGS */
.dashain-text {
  position: relative;
}
.dashain-text::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url("../images/jamara.svg");
  background-repeat: no-repeat;
  top: 5px;
  left: 54px;
}
.lead-text-item.lead-text-item-03 {
  margin-top: -14px;
}
.page-content-bottom {
  margin-top: 200px;
}

/* SCREEN WINNER */
.page-wrapper-2 .page-lead-content,
.page-wrapper-3 .page-lead-content {
  margin-right: auto;
  margin-left: auto;
}
.page-wrapper-2 .page-lead-container {
  margin-top: -125px;
}
.page-wrapper-3 .page-lead-container {
  margin-top: -190px;
}
.page-wrapper-3 .page-lead-content {
  scale: 0.8;
}
.page-wrapper-2 .page-content-bottom,
.page-wrapper-3 .page-content-bottom {
  margin-top: 48px;
}
.page-winner-items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 48px;
  column-gap: 48px;
}
.winner-item-serial {
  border: 4px solid var(--default-black);
  border-radius: 16px;
  padding: 2px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  line-height: 1;
  font-size: 24px;
  font-weight: bold;
}
.page-click-btn {
  margin-top: 50px;
}
.winner-item-label {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
.page-wrapper-3 .page-winner-items-group {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}
.page-wrapper-3 .winner-item-label {
  font-size: 22px;
}
.page-wrapper-3 .winner-item-label {
  margin-bottom: 12px;
}
.page-wrapper-3 .page-winner-items {
  row-gap: 16px;
  column-gap: 40px;
}
.page-wrapper-3 .winner-item-serial {
  height: 27px;
  font-size: 18px;
}
.page-wrapper-3 .page-content-bottom {
  margin-top: -20px;
}
.page-wrapper-3 .page-click-btn {
  margin-top: 28px;
}
.page-winner-items-group:nth-child(2) {
  margin-top: 32px;
}
.page-winner-items-ttl {
  font-size: 28px;
  margin-bottom: 12px;
}

@media (max-width: 1600px) {
  .page-content,
  .navbar-brand {
    scale: 0.8;
  }
  .navbar-brand {
    top: 16px;
    left: 16px;
  }
  .page-wrapper {
    min-height: calc(100vh - 32px);
    padding: 16px;
  }
}

@media (max-width: 1280px) {
  .page-winner-items {
    grid-template-columns: repeat(4, 1fr);
  }
  .page-lead-container{
    padding: 0;
  }
}

@media (max-width: 1080px) {
  .page-content,
  .navbar-brand {
    scale: 0.7;
  }
  .page-content{
    transform: translateY(-200px);
  }
  .page-winner-items {
    grid-template-columns: repeat(3, 1fr);
  }
  .page-lead-content{
    scale: 0.7!important;
  }
}

@media (max-width: 992px) {
  .page-content{
    transform: translateY(-260px);
  }
  .page-winner-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

